<body>
  <form [formGroup]="animalForm">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="animalName">
      </mat-form-field>
      <p></p>

      <!-- <div [ngSwitch]="'namee'"> -->
        <div *ngIf="inputType === 'text'">
            <mat-form-field>
              <input matInput placeholder="Animal type text" type="text" formControlName="animalType">
            </mat-form-field>
        </div>
        <div *ngIf="inputType === 'select'">
          <mat-form-field>
              <mat-select placeholder="Animal type dropdown" formControlName="animalType">
                  <mat-option *ngFor="let ani of types" [value]="ani.key">
                    {{ani.label}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
        <!-- </div> -->
      </div>
      <mat-toolbar>
          <mat-toolbar-row>
            <div class="a">
              <button mat-raised-button color="accent" (click)="inputType='select'">DropDown</button>
            </div>
            <div class="a">
              <button mat-raised-button color="accent" (click)="inputType='text'">Text</button>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
    </mat-card>
  </form>
  <pre>{{animalForm.value|json}}</pre>
</body>
