<body>
  <form [formGroup]="animalForm">
    <mat-card>
      <mat-form-field>
        <input matInput class="a" placeholder="Name" type="text" formControlName="animalName">
      </mat-form-field>
      <p></p>
        <div *ngIf="inputType === 'text'">
            <mat-form-field>
              <input matInput class="a" placeholder="Animal type text" type="text" formControlName="animalType">
            </mat-form-field>
        </div>
        <div *ngIf="inputType === 'select'" formGroupName="animalType">
          <mat-form-field>
              <mat-select placeholder="Animal type dropdown" formControlName="typeKey">
                  <mat-option *ngFor="let ani of types" [value]="ani.key">
                    {{ani.label}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Key" type="text" formControlName="typeKey">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Label" type="text" formControlName="typeLabel">
            </mat-form-field>
      </div>
            <div class="a">
              <button mat-raised-button color="accent" (click)="inputDropDown()">Change field type</button>
            </div>
    </mat-card>
  </form>
  <p></p>
  <app-login-form></app-login-form>
  <!-- <pre>{{animalForm.value|json}}</pre> -->
  <app-time-control></app-time-control>
</body>
